We are looking at the complete fight record of Floyd Mayweather -- The Undefeated Champ

This program's information on the champs' record contains:

id
Date
Fighter
Outcome

Before new fights against the champ I will add another fighters' career record

Using the API

Get for how to Get the record of fights for Floyd Mayweather

GET http://localhost:1337/fights

Get for how to get the fighter against the champ

GET http://localhost:1337//fighter/"fighter"

Get for how to get the date of a certain fight

GET http://localhost:1337/date/"date"

A Delete for a fighter that has lost to the champ

GET http://localhost:1337/delete/"id"

Adding the next fighter to the career record win for the champ

POST http://localhost:1337 { "fighter": "fighter name", "date": "fight date", "outcome": "fight outcome" }