html
  head
    title Floyd Mayweather--The Champ 
    link(rel="stylesheet" href="/css/styles.css")
    body 
        h1= title
        h1 Floyd Mayweather--The Champ 
          h2 champions
          ul 
            for champion in champions  
              li
                a(href=`/champions/${champios}`)= champions 
                