html
  include partials/head.pug 
    title Boxer Program - Flyod Mayweather
    
    body   
         h3 We are looking at the complete fight record of Floyd Mayweather -- The Undefeated Champ 
         br 
         h3  This program's information on the champs' record contains: 
         p 
         ul
          li id
          li Date 
          li Fighter
          li Outcome 

         h3 Before new fights against the champ I will add another fighters' career record 

         h2 Using the API

         h4 Get for how to Get the record of fights for Floyd Mayweather 
         p
         ul
          li GET http://localhost:1337/fights

         h4 Get for how to get the fighter against the champ
         p
         ul
          li GET http://localhost:1337//fighter/"fighter"

         h4 Get for how to get the date of a certain fight 
         p
         ul
          li GET http://localhost:1337/date/"date"

         h4 A Delete for a fighter that has lost to the champ 
         p
         ul
          li GET http://localhost:1337/delete/"id"

         h4 Adding the next fighter to the career record win for the champ 
         p
         ul
          li POST http://localhost:1337 { "fighter": "fighter name", "date": "fight date", "outcome": "fight outcome" }
