html
  include partials/head.pug 
  title Boxer Program - Flyod Mayweather
  body 
    h1 The Champ -- Floyd Mayweather 
    h2
      a(href='/documentation', class= 'docHeader')
        p API Documentation