body {
  background-color: dodgerblue;
  color: black;
}

h2 {
  padding: 5px;
  margin: 1ch;
}

li {
  text-indent: 0.5ch;
}

.Fights Details {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 1ch;
}

.Date_of_fight {
  width: 50%;
  text-align: left;
}

.Fighter {
  width: 50%;
  text-align: left;
}

.Outcome { 
  width: 50%;
  text-align: left;
}

